@use '../modules/colors';
@use '../modules/typography';

.coin-container .content {
  max-width: 740px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  background: colors.$brown;
  box-shadow: 0px 0px 12px colors.$black;
  border-radius: 8px;
}

.rank {
  margin: .4rem 0.1rem;
}

.rank-btn {
  border: 1px solid colors.$purple;
  box-shadow: 0px 0px 8px colors.$purple;
  background: colors.$purple;
  border-radius: 8px;
  padding: .2rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: .5rem;
}

.coin-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: typography.$fw-bold;
  font-size: 30px;
  padding-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;

  p {
    padding-right: 3rem;
  }
}

table {
  margin: .5rem 0;
}


td, th {
  padding: 8px;
  text-align: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  padding-inline: .5rem;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid colors.$gray;
  margin: .6rem 0;
  padding-bottom: .5rem;
}

.about {
  h3 {
    margin: 1rem 0;
    padding-inline: 1rem;
  }

  p {
    padding-inline: 1rem;
    padding-bottom: 1.2rem;
  }
}


@media screen and (max-width: 700px) {
    .coin-container .content {
      max-width: 100%;
      margin: .5rem;
      padding: 0 .5rem;
    }

    .stats {
      grid-template-columns: 1fr;
    }

    td,th {
      padding: 3px
    }
}