.header {
  background: var(--background);
  color: var(--text-primary);
  height: 7rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);

  &__title {
    font-size: 1.3rem;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__option {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 1.1rem;
  }

  &__menu {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .header {
    padding-inline: 6rem;
    width: 100%;

    &__title {
      font-size: 1.7rem;
    }
    
    &__options {
      display: flex;
      gap: 7rem;
    } 
  }
}


@media screen and (min-width: 1000px) {
  .header {
    padding-inline: 6rem;
    width: 100%;

    &__title {
      font-size: 1.7rem;
    }
    
    &__options {
      display: flex;
      gap: 7rem;
    } 
  }
}
