.info {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  height: 4rem;
  box-shadow: 0px 0px 12px black;
  border-radius: 8px;
  color: var(--text-primary);
}

@media screen and (min-width: 1000px) {
  .info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-inline: 3.5rem;
  }

  .hide-mobile {
    display: block;
  }
}
