.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  &__btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
    cursor: pointer;
  }

  &__btn:disabled {
    cursor: not-allowed;
  }

  &__p {
    color: var(--text-primary);
  }
}
