@use 'modules/colors';
@use 'partials/navbar';
@use 'partials/crypto';
@use 'partials/cryptoPage';
@use 'partials/theme';
@use 'partials/scroll';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}


a {
  text-decoration: none;
}


h1 {
  text-align: center;
  margin: 1rem;
}